git+https://github.com/xivo-pbx/xivo-lib-python.git
git+https://github.com/xivo-pbx/xivo-dao.git
sqlalchemy==0.9.4  # from xivo-dao
psycopg2==2.4.5  # from xivo-dao
pyyaml==3.10  # from xivo-lib-python
