Source: wazo-stat
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev@gwazo.community>
Build-Depends:
 debhelper (>= 12),
 dh-python,
 python3-all,
 python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.9

Package: wazo-stat
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
 python3-requests,
 wazo-auth-client-python3,
 wazo-confd-client-python3,
 xivo-libdao-python3
Description: Wazo statistics generator
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
